@page
@model BrewMaster.Models.Pages.Admin.AdminCRUD.CreateEmployeeModel
@{

    <p>
        <a asp-page="/Index" class="btn btn-secondary">Tilbage til forsiden</a>
    </p>

    ViewData["Title"] = "Opret Medarbejder";
}

<h2>Opret Medarbejder</h2>

<form method="post">

    <div class="form-group">
        <!-- Navn -->
        <label asp-for="Employee.Name" class="control-label">Navn</label>
        <input asp-for="Employee.Name" class="form-control" />
        <span asp-validation-for="Employee.Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <!-- Adgangskode -->
        <label asp-for="Employee.Password" class="control-label">Adgangskode</label>
        <input asp-for="Employee.Password" class="form-control" type="password" />
        <span asp-validation-for="Employee.Password" class="text-danger"></span>
    </div>

    <div class="form-group">
        <!-- Brugertype -->
        <label asp-for="Employee.UserType" class="control-label">Brugertype</label>
        <select asp-for="Employee.UserType" class="form-control">
            <option value="">-- Vælg Brugertype --</option>
            <option value="Admin">Admin</option>
            <option value="Employee">Medarbejder</option>
        </select>
        <span asp-validation-for="Employee.UserType" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Opret</button> <!-- knap til at oprette medarbejderen -->
    <a asp-page="/Admin/AdminCRUD/ExistingEmployee" class="btn btn-secondary">Annuller</a> <!-- knap til at annulere-->
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />  <!-- valideringsscript som sikrer at de forskellige felter udfyldes ordentligt -->
}