@page
@model BrewMaster.Pages.Admin.MachineCRUD.CreateMachineModel
@{
    ViewData["Title"] = "Create Machine";
}

<h1>Create Machine</h1>

<h4>Machine</h4>
<hr />

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<form method="post">
    <div class="form-group">
        <label asp-for="Machine.Location" class="control-label"></label>
        <input asp-for="Machine.Location" class="form-control" />
        <span asp-validation-for="Machine.Location" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Machine.LatestCleaning" class="control-label"></label>
        <input asp-for="Machine.LatestCleaning" class="form-control" type="date" />
        <span asp-validation-for="Machine.LatestCleaning" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Machine.LatestService" class="control-label"></label>
        <input asp-for="Machine.LatestService" class="form-control" type="date" />
        <span asp-validation-for="Machine.LatestService" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Machine.LatestFillUp" class="control-label"></label>
        <input asp-for="Machine.LatestFillUp" class="form-control" type="date" />
        <span asp-validation-for="Machine.LatestFillUp" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-page="./MachineDashboard">Back to List</a>
</div>

