@page
@model BrewMaster.Models.Pages.Admin.MachineCRUD.DeleteMachineModel

@{
    ViewData["Title"] = "Slet Maskine";
}

<h2>Slet Maskine</h2>

<!-- Hvis der ikke eksisterer en kaffemaskine i databasen, vises en fejlmeddelelse -->
@if (Model.Machine == null)
{
    <p>Maskinen blev ikke fundet.</p>
}
else
{
    <p>Er du sikker på, at du vil slette følgende maskine?</p>


    <div>
        <!-- Deltajerer her maskinerne -->
        <dl class="row">
            <dt class="col-sm-2">Maskine ID</dt>
            <dd class="col-sm-10">@Model.Machine.MachineId</dd>

            <dt class="col-sm-2">Placering</dt>
            <dd class="col-sm-10">@Model.Machine.Location</dd>

            <dt class="col-sm-2">Seneste Rengøring</dt>
            <dd class="col-sm-10">@Model.Machine.LatestCleaning?.ToString("yyyy-MM-dd") ?? "Ikke sat"</dd>


            <dt class="col-sm-2">Seneste Service</dt>
            <dd class="col-sm-10">@Model.Machine.LatestService?.ToString("yyyy-MM-dd") ?? "Ikke sat"</dd>

        </dl>
    </div>

    <!-- Knapper til at slette og annulere -->
    <form method="post">
        <input type="hidden" asp-for="Machine.MachineId" />
        <button type="submit" class="btn btn-danger">Slet</button>
        <a asp-page="/Admin/MachineCRUD/ExistingMachine" class="btn btn-secondary">Annuller</a>
    </form>



}

