@page
@model BrewMaster.Models.Pages.Admin.AdminModel
@{
    ViewData["Title"] = "Admin Dashboard";
}

<p>
    <a asp-page="/Index" class="btn btn-secondary">Tilbage til forsiden</a>
</p>


    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Administrator side</h1>
        </div>
    </div>

<section class="pb-5">

    <div class="d-flex justify-content-between">

        <article class="AdminBokse bg-white m-5 p-2 boxWidth text-center">
            <h5 class="card-title">Medarbejder-side</h5>
            <p class="card-text">Administrer dine medarbejdere</p>

            <button class="BtnBg">
                <a asp-page="/Admin/EmployeeDashboard">Gå til Medarbejdere</a>    <!-- Knap til at gå til EmployeeDashboard -->
            </button>

        </article>

        <article class="AdminBokse bg-white m-5 p-2 boxWidth text-center">
            <h5 class="card-title">Kaffemaskiner</h5>
            <p class="card-text">Administrer dine Kaffemaskiner.</p>

            <button class="BtnBg">
                <a asp-page="/Admin/MachineDashboard">Gå til Kaffemaskiner</a>    <!-- Knap til at gå til MachineDashboard -->
            </button>

        </article>



        <article class="AdminBokse bg-white m-5 p-2 boxWidth text-center">
            <h5 class="card-title">Rengøringer</h5>
            <p class="card-text">Hold styr på rengøringer af kaffemaskiner.</p>

            <button class="BtnBg">
                <a asp-page="/Admin/ServiceDashboard">Gå til dine Opgaver</a>  <!-- Knap til at gå til ServiceDashboard -->
            </button>

        </article>


    </div>


</section>