@page
@model BrewMaster.Pages.Admin.EmployeeDetailsModel
@{


    <p>
        <a asp-page="/Index" class="btn btn-secondary">Tilbage til forsiden</a>
    </p>


    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Medarbejder - side</h1>
        </div>
    </div>

    <section class="d-flex justify-content-between">
        <article class="AdminBokse bg-white m-5 p-2 text-center">
            <h2>Opret medarbejder</h2>
            <button class="BtnBg">
                <a href="/Admin/AdminCRUD/CreateEmployee">Enter</a>
            </button>
        </article>

        <article class="AdminBokse bg-white m-5 p-2 text-center">
            <h2>Slet Medarbejder</h2>
            <button class="BtnBg">
                <a href="/Admin/AdminCRUD/ExistingEmployee">Enter</a>
            </button>
        </article>

        <article class="AdminBokse bg-white m-5 p-2 text-center">
            <h2>Rediger Medarbejder</h2>
            <button class="BtnBg">
                <a href="/Admin/AdminCRUD/ExistingEmployee">Enter</a>
            </button>
        </article>

        <article class="AdminBokse bg-white m-5 p-2 text-center">
            <h2>Se medarbejdere</h2>
            <button class="BtnBg">
                <a href="/Admin/AdminCRUD/ExistingEmployee">Enter</a>
            </button>
        </article>
    </section>
}


