@page
@model BrewMaster.Pages.Admin.ServiceDetailsModel //Skrevet af Rahmatullah
@{


    <p>
        <a asp-page="/Index" class="btn btn-secondary">Tilbage til forsiden</a>
    </p>


    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Kaffemaskiner</h1>
        </div>
    </div>


    <section class="d-flex justify-content-between">
        <article class="AdminBokse bg-white m-5 p-2 text-center">
            <h2>Opret Kaffemaskine</h2>
            <button class="BtnBg">
                <a href="/Admin/MachineCRUD/CreateMachine">Enter</a>
            </button>
        </article>

        <article class="AdminBokse bg-white m-5 p-2 text-center">
            <h2>Fjern Kaffemaskine</h2>
            <button class="BtnBg">
                <a href="/Admin/MachineCRUD/ExistingMachine">Enter</a>
            </button>
        </article>

        <article class="AdminBokse bg-white m-5 p-2 text-center">
            <h2>Rediger kaffemaskiner</h2>
            <button class="BtnBg">
                <a href="/Admin/MachineCRUD/ExistingMachine">Enter</a>
            </button>
        </article>

        <article class="AdminBokse bg-white m-5 p-2 text-center">
            <h2>Se dine Kaffemaskiner</h2>
            <button class="BtnBg">
                <a href="/Admin/MachineCRUD/ExistingMachine">Enter</a>
            </button>
        </article>

    </section>
}

