@page
@model BrewMaster.Models.Pages.IndexModel
@{
    ViewData["Title"] = " Kaffemaskine Dashboard";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Velkommen til BrewMaster</h1>
            <p class="lead">Hold styr på kaffemaskiner, påfyldninger, rengøringer og serviceeftersyn på én platform.</p>
        </div>
    </div>
    <div class="row mt-4">

        <div class="col-md-3">
            <div class="card shadow-sm">
                <div class="card-body text-center">
                    <h5 class="card-title">Employees-Site</h5>
                    <p class="card-text">Administrate your workers.</p>
                    <a asp-page="/Admin/AdminCRUD/ExistingEmployee" class="btn btn-primary">Go to Employees</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card shadow-sm">
                <div class="card-body text-center">
                    <h5 class="card-title">Machine-Site</h5>
                    <p class="card-text">Administrate your workers.</p>
                    <a asp-page="/Admin/MachineCRUD/ExistingMachine" class="btn btn-primary">Your Coffee Machines</a>
                </div>
            </div>
        </div>

        <!-- Påfyldninger Sektion -->
        <div class="col-md-3">
            <div class="card shadow-sm">
                <div class="card-body text-center">
                    <h5 class="card-title">Påfyldninger</h5>
                    <p class="card-text">Registrer nye påfyldninger eller se historik.</p>
                    <a asp-page="/Admin/Påfyldninger/Index" class="btn btn-primary">Gå til Påfyldninger</a>
                </div>
            </div>
        </div>

        <!-- Rengøringer Sektion -->
        <div class="col-md-3">
            <div class="card shadow-sm">
                <div class="card-body text-center">
                    <h5 class="card-title">Opgaver</h5>
                    <p class="card-text">Hvad skal håndteres .</p>
                    <a asp-page="/Admin/Services/Cleanings/ServiceDashboard" class="btn btn-primary">Gå til Opgaver</a>

                </div>
            </div>
        </div>

        <!-- Serviceeftersyn Sektion -->
        <div class="col-md-3">
            <div class="card shadow-sm">
                <div class="card-body text-center">
                    <h5 class="card-title">Serviceeftersyn</h5>
                    <p class="card-text">Administrér serviceeftersyn og notifikationer.</p>
                    <a asp-page="/Admin/ServiceEftersyn/Index" class="btn btn-primary">Gå til Serviceeftersyn</a>
                </div>
            </div>
        </div>
    </div>
</div>
