@page
@model BrewMaster.Pages.Repository.IndexModel
@{
    ViewData["Title"] = " Kaffemaskine Dashboard";
}

<div class="pt-5 container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Velkommen til BrewMaster</h1>
            <p class="lead">Hold styr på kaffemaskiner, påfyldninger, rengøringer og serviceeftersyn på én platform.</p>
        </div>
    </div>

    <section class="pb-5 pt-5 text-center">
        <article>
            <button class="w-75 h-25 bgBrun mb-5">
                <a href="/Admin/Admin"><h2 class="text-white-50">Admin</h2></a>

            </button>
        </article>
        <article>
            <button class="w-75 h-25 bgBrun">
                <a href="/Admin/Services/Cleanings/ExistingService"><h2 class="text-white-50">Employee</h2></a>

            </button>
        </article>
    </section>

</div>
