@page "{serviceId:int}/{userId:int}/{serviceType}"
@model BrewMaster.Pages.Admin.Services.Cleanings.DeleteServiceModel
@{
    <p>
        <a asp-page="/Index" class="btn btn-secondary">Tilbage til forsiden</a>
    </p>


    ViewData["Title"] = "Delete Service";
}

<h1>Delete Service</h1>

<h4>Are you sure you want to delete this service?</h4>
<hr />

<div>
    <h3>@Model.Service.ServiceType</h3>
    <p>UserId: @Model.Service.UserId</p>
    <p>Date: @Model.Service.Date</p>
    <p>Employee: @Model.Employee?.Name</p>
</div>

<form method="post">
    <input type="hidden" asp-for="Service.ServiceId" />
    <input type="hidden" asp-for="Service.UserId" />
    <input type="hidden" asp-for="Service.ServiceType" />
    <div>
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./ServiceDashboard" class="btn btn-secondary">Cancel</a>
    </div>
</form>

