@page "{serviceId:int}"
@model BrewMaster.Pages.Admin.Services.Cleanings.EditServiceModel
@{
    <p>
        <a asp-page="/Index" class="btn btn-secondary">Tilbage til forsiden</a>
    </p>

    ViewData["Title"] = "Edit Service";
}

<h1>Ændre Opgave</h1>

<form method="post">
    <div class="form-group">
        <label asp-for="Service.Date" class="control-label"></label>
        <input asp-for="Service.Date" class="form-control" />
        <span asp-validation-for="Service.Date" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Service.ServiceType" class="control-label"></label>
        <input asp-for="Service.ServiceType" class="form-control" />
        <span asp-validation-for="Service.ServiceType" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Service.UserId" class="control-label"></label>
        <input asp-for="Service.UserId" class="form-control" />
        <span asp-validation-for="Service.UserId" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Gem</button>
    <a asp-page="/Admin/Services/Cleanings/ExistingService" class="btn btn-secondary">Annuler</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

