@page "{serviceId:int}"
@model BrewMaster.Pages.Admin.Services.Cleanings.EditServiceModel
@{
    ViewData["Title"] = "Edit Service";
}

<h1>Edit Service</h1>

<form method="post">
    <div class="form-group">
        <label asp-for="Service.Date" class="control-label"></label>
        <input asp-for="Service.Date" class="form-control" />
        <span asp-validation-for="Service.Date" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Service.ServiceType" class="control-label"></label>
        <input asp-for="Service.ServiceType" class="form-control" />
        <span asp-validation-for="Service.ServiceType" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Service.UserId" class="control-label"></label>
        <input asp-for="Service.UserId" class="form-control" />
        <span asp-validation-for="Service.UserId" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

